html,
body {
  margin: 60px;
  padding: 0px;
  background-color: green;
  color: yellow;
  
  
  
  font-family: 'Open Sans', sans-serif;
  
  
}

canvas {
  display: block;
}


h1 {
  text-align: center;




}




p {
  font-size: 24px;
  text-align: center
}